.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    color: #000;
    background-color: #f1e7d9;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.8px;
    position: sticky;
    top: 0;
    z-index: 2;
}