.callOutImage {
    background: url('https://uploads-ssl.webflow.com/64cacd2631caa034b8470fef/64cacd2631caa034b847110a_Screen%20Shot%202023-04-17%20at%201.59.18%20PM.webp') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@media (width < 480px) {
    .callOutImage {        
        background-attachment: scroll
    }
}